:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --acceent-color: #2196f3;
  --info-list-color: rgba(255, 255, 255, 0.6);
  --main-picture-colore: #ffffff;
  --main-section-bg-color: #2f303a;
}

/* Body */
body {
  background-color: var(--main-picture-colore);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* Footer */
footer {
  background-color: #2f303a;
}

/* Logo */
.logo {
  color: var(--acceent-color);
  font-family: Raleway, sans-serif;
}
/* list */
.list .item {
  color: var(--acceent-color);
}

/* Button */
.button .link:hover,
.button .link:focus {
  color: var(--main-picture-colore);
  background-color: var(--acceent-color);
  font-family: inherit;
}
/* Btn */
.btn:hover,
.btn:focus {
  color: var(--main-picture-colore);
  background-color: var(--acceent-color);
  font-family: inherit;
}
/* Info */
.info .section {
  color: var(--title-text-color);
}
.info .section:hover,
.info .section:focus {
  color: var(--acceent-color);
}
/* Preview */
.preview .preview-section {
  color: var(--title-text-color);
}
/* Navigation */
.navigation {
  color: var(--main-picture-colore);
}
.navigation:focus,
.navigation:hover {
  color: var(--acceent-color);
}
/* info-list */
.info-list {
  color: var(--info-list-color);
}
.info-list:focus,
.info-list:hover {
  color: var(--acceent-color);
}
/* Word title*/
.word-title {
  color: var(--main-picture-colore);
}
/* Word */
.word {
  color: var(--primary-text-color);
}
/* main-section */
.main-section {
  background-color: var(--main-section-bg-color);
}
/* Title */
.title {
  color: var(--main-picture-colore);
}
